*{
  cursor: none;
  background: black;
  overflow-y: hidden; /* Hide vertical scrollbar */
}

.App {
  display: flex;
  justify-content: center;
  padding: 2rem;
  background-color: black;
  background-image: radial-gradient(
          rgba(0, 9, 0, 0.88), black 120%
  );
  font: 1rem Inconsolata, monospace;
  color: #1d9b4e;
  text-shadow: 0 0 5px #1bfd4f;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

hr {
  border-color: #1d9b4e;
  box-shadow: 0 0 5px #1bfd4f;
}

.Console{
  width: 1080px;
}

.Header{
  display: flex;
  justify-content: space-between;
}

.Prompt_Message{
  text-align: left;
}

@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
#Flickering_box {
  -webkit-animation: flickerAnimation 1s infinite;
  -moz-animation: flickerAnimation 1s infinite;
  -o-animation: flickerAnimation 1s infinite;
  animation: flickerAnimation 1s infinite;
}


