.App {
  display: flex;
  justify-content: center;
  padding: 2rem;
  background-color: black;
  background-image: radial-gradient(
          rgba(0, 9, 0, 0.88), black 120%
  );
  height: 100vh;
  font: 1rem Inconsolata, monospace;
  color: green;
  text-shadow: 0 0 5px #007f00;
}

hr {
  border-color: green;
  box-shadow: 0 0 5px #007f00;
}

.Console{
  width: 1080px;
  /*
  padding: 1.5rem;
  border: 2px solid #0f0;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
  */

}

.Header{
  display: flex;
  justify-content: space-between;
}
.Tasks {
  text-align: left;
}

